& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;
    #platui > #Carousel > #dependencies;

    [plat-control="home-vc"] {
    }
    h1{
        text-align: center;
    }    
    .mid-container{
        border-bottom: solid;
    }
    .carousel-item{
        text-align: center;
        background-size:contain;
        background-repeat:no-repeat;
        width:100%; 
        height: 75vw;
    }
    .plat-carousel{
        height:15px;
    }
    .input-data{
        text-align: center;
    }
    .mid-container img{
        height:auto;
        width:auto;
        max-height:auto;
        max-width:500px;
    }
    .card{
        margin:0 auto;
        display: block;
    }
}