& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;
    #platui > #Carousel > #dependencies;


    [plat-control="home-vc"] {
    }    
    .mid-container{
        border-bottom: solid;
    }
    .carousel-item{
        text-align: center;
    }
    .plat-carousel{
        height:15px;
    }
    .input-data{
        text-align: center;
    }
}